<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Authentification
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <br><br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Veuillez-vous connecter</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-input placeholder="Mail"></ion-input>
      <ion-input placeholder="Mot de passe"></ion-input>

      <ion-button expand="block">Connexion</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
